In [3]:
import numpy as np
import pickle
import os
import sys

In [6]:
path = 'C:/Users/mm5gg/Box Sync/PublicData/opportunity/OpportunityUCIDataset/OpportunityUCIDataset/dataset'
data_all = []
for s in range(1, 5):    
    data_subj = []
    
    print(s, 'ADL')
    with open('{}/S{}-Drill.dat'.format(path, s), 'rb') as file:        
        d = np.genfromtxt(file, delimiter=' ')
        data_subj.append(d)    
        
    for sess in range(1, 6):
        print(s, sess)
        with open('{}/S{}-ADL{}.dat'.format(path, s, sess), 'rb') as file:            
            d = np.genfromtxt(file, delimiter=' ')
            data_subj.append(d)
            
    data_all.append(data_subj)

1 ADL
1 1
1 2
1 3
1 4
1 5
2 ADL
2 1
2 2
2 3
2 4
2 5
3 ADL
3 1
3 2
3 3
3 4
3 5
4 ADL
4 1
4 2
4 3
4 4
4 5

In [7]:
with open('C:/ASM/DevData/activity_quaternion/data/raw.pkl', 'wb') as file:
    pickle.dump(data_all, file)

In [11]:
d = data_all[0][1]
print(len(d))
print(d.shape)

51116
(51116, 250)

In [12]:
print(d[-1, :])

[ 1703816.       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan        0.        0.
        0.        0.        0.        0.        0.        0.        0.
        0.        0.        0.        0.       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan       nan       nan
       nan       nan       nan       nan       nan        0.        0.
        0.        0.        0.        0.        0.]